<div class="card bg-light mb-3">
  <div class="card-body">
    <h4><%= link_to post.title, post %></h4>

    <div class="text-muted mb-2">
      <em>por <%= post.author %> (<%= l(post.created_at, format: :long) %>)</em>
    </div>

    <p><%= post.body %></p>
    <p class="text-muted"><%= pluralize(post.comments.count, 'Comentário') %></p>

    <%= link_to "Ler Artigo", post_path(post), class:'btn btn-primary' %>
    <%= link_to "Editar", edit_post_path(post), class:'btn btn-success' %>
    <%= link_to "Apagar", post_path(post), method: :delete, class:'btn btn-danger',
    data: {confirm: 'Voçê tem Certeza?'} %>

    </div>
</div>